
.wrapper {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.sphereWrapper{
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 3s;
}
.fade {
    opacity: 1;
}
